@import "tailwindcss";

@theme {
  /* Fuentes */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Open Sans', sans-serif;
  
  /* Colores personalizados */
  --color-morado-uva: #4B2354;
  --color-verde-vid: #3E7A3F;
  --color-verde-hoja: #78A75A;
  --color-blanco-paz: #FFFFFF;
  --color-beige-calido: #F5F1E6;
  --color-gris-suave: #777777;
}